/* Authentic Untitled */
@font-face {
  font-family: "authentic-untitled";
  src: url("../authentic_untitled_trial-webfont.woff2") format("woff2"),
    url("../css/fonts/authentic_untitled_trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 60 */
@font-face {
  font-family: "authentic-sans-60";
  src: url("../css/fonts/authentic-sans-60.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 90 */
@font-face {
  font-family: "authentic-sans-90";
  src: url("../css/fonts/authentic-sans-90.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-90.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 130 */
@font-face {
  font-family: "authentic-sans-130";
  src: url("../css/fonts/authentic-sans-130.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-130.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 150 */
@font-face {
  font-family: "authentic-sans-150";
  src: url("../css/fonts/authentic-sans-150.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-150.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "authentic-sans-130", sans-serif;
  font-weight: normal;
}

h1 {
  margin-top: 0;
  font-size: 7.594em;
}

h3 {
  font-size: 3.375em;
}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 1.5em;
}

small,
.text_small {
  font-size: 0.667em;
}

body {
  font-size: 16px;
  margin: 0;
  color: #333;
  font-family: "authentic-sans-90", "helvetica", "sans serif";
}

main {
  padding: 40px;
  max-width: 1160px;
  margin: 0 auto;
  display: block;
}

.headline {
  margin-top: 30px;
}

.big-type {
  text-align: center;
  font-family: "authentic-sans-130", serif;
  font-weight: normal;
  margin-top: 0;
  font-size: 7.594em;
}

.about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about p {
  display: block;
  width: 75%;
  margin: 0 auto;

  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}

.container {
  background-color: FFFBFB;
}

.inline-button {
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #333;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  box-sizing: content-box;
}

.inline-button:visited {
  color: #333;
}

#me:hover {
  background-color: rgb(163, 255, 24);
}

#this-one:hover {
  background-color: lightpink;
}

#this-two:hover {
  background-color: rgb(0, 217, 255);
}

#hi:hover {
  background-color: salmon;
}

.circle {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-color: rgb(163, 255, 24);
  border-radius: 50%;
}

.tiny-text {
  margin-top: 100px;
  font-size: 14px;
  font-family: "authentic-sans-130", sans-serif;
  text-align: left;
}

.subject {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.375em;
  font-family: "authentic-sans-130", sans-serif;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightslategray;
}

.first {
  border-top: 1px solid lightslategray;
}

.list-container p {
  margin: 0;
  text-align: left;
  font-size: 1.5em;
  font-family: "authentic-sans-130";
  line-height: 2;
}

.list-container a {
  text-decoration: none;
  color: #333;
}

a {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2334e7ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
}
