* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(5, 5, 5);

  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
}

h2 {
  line-height: 1.2em;
  font-weight: lighter;
}

header {
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid whitesmoke;

  text-align: center;
}

#acid-lake {
  text-align: left;
  border-top: 1px solid whitesmoke;
  border-bottom: none;
}

.box {
  float: left;
  width: 50%;
  padding: 40px;
}

#about {
  margin-bottom: 300px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 40px;
}
img {
  float: left;
  margin-right: 30px;
}
