/* Authentic Untitled */
@font-face {
  font-family: "authentic-untitled";
  src: url("../authentic_untitled_trial-webfont.woff2") format("woff2"),
    url("../css/fonts/authentic_untitled_trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 60 */
@font-face {
  font-family: "authentic-sans-60";
  src: url("../css/fonts/authentic-sans-60.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 90 */
@font-face {
  font-family: "authentic-sans-90";
  src: url("../css/fonts/authentic-sans-90.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-90.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 130 */
@font-face {
  font-family: "authentic-sans-130";
  src: url("../css/fonts/authentic-sans-130.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-130.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Authentic Sans 150 */
@font-face {
  font-family: "authentic-sans-150";
  src: url("../css/fonts/authentic-sans-150.woff2") format("woff2"),
    url("../css/fonts/authentic-sans-150.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*---------------Base CSS---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

h1 {
  font-family: "authentic-sans-60", sans-serif;
  font-size: 28px;
}

h2 {
  font-family: "authentic-sans-60", sans-serif;
  font-size: 28px;
}

p {
  font-family: "authentic-sans-60", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  max-width: 100%;
  text-align: left;
}

a {
  font-family: "authentic-sans-60", sans-serif;
  font-size: 22px;
  color: #333;
}

/*---------------Mobile View---------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #333;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #333;
  }

  .references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .ref-list {
    display: flex;
    flex-direction: column;
  }

  .ref-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ref-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .arrow-right {
    width: 20px;
    height: 20px;
  }

  .about p,
  h2 {
    padding: 20px;
  }

  .references p,
  h2 {
    padding: 20px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  a {
    font-size: 18px;
    max-width: 420px;
  }
}

/*---------------Tablet View---------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    border-bottom: 1px solid #333;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 450px;
    border-bottom: 1px solid #333;
  }

  .references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .ref-list {
    display: flex;
    flex-direction: column;
  }

  .ref-item {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .ref-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .arrow-right {
    width: 30px;
    height: 30px;
  }

  .about p,
  h2 {
    padding: 30px;
    width: 60%;
  }

  .references p {
    padding: 30px;
    width: 80%;
  }

  .references h2 {
    padding-top: 30px;
    padding-left: 30px;
  }

  ul {
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  a {
    font-size: 22px;
    min-width: 450px;
    max-width: 600px;
  }
}

/*---------------About Desktop View---------------*/

@media screen and (min-width: 769px) {
  .intro-about {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 80vh;
    margin-top: 50px;
  }

  .intro {
    width: 50%;
    height: 80vh;
    border-right: 1px solid #333;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    padding: 50px;
  }

  .intro-ref {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border-top: 1px solid #333;
  }

  .ref {
    width: 50%;
    height: auto;
    border-left: 1px solid #333;
  }

  .references {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
  }

  .ref-list {
    display: flex;
    flex-direction: column;
  }

  .ref-item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ref-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .arrow-right {
    width: 40px;
    height: 40px;
  }

  .references p {
    padding-left: 50px;
    padding-bottom: 20px;
    width: 70%;
    line-break: strict;
  }
  .references h2 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 50px;
    padding-bottom: 30px;
  }

  a {
    font-size: 22px;
  }
}

/*---------------Contact Page Mobile View---------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .logo-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid #333;
    background-color: #f9f9f9;
  }

  .form-container {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    width: 80%;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .form-row input[type="text"],
  .form-row input[type="email"] {
    padding: 20px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
  }

  ::placeholder {
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
  }

  textarea {
    resize: none;
    min-height: 100px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
    padding: 20px;
  }

  .checkbox-label {
    width: 100%;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
    font-size: 14px;
  }

  .form-row button {
    width: 80%;
    padding: 20px 40px;
    margin: 10px auto;
    border: 1px solid #333;
    border-radius: 8px;

    background-color: lightpink;

    font-size: 16px;
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
  }

  .contact-image {
    display: flex;
    margin: 10px auto;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-image > img {
    border: 1px solid #333;
  }
}

/*--------------- Contact Tablet View---------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 460px;
    max-width: 500px;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-row input[type="text"],
  .form-row input[type="email"] {
    padding: 20px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
  }

  ::placeholder {
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
  }

  textarea {
    resize: none;
    min-height: 100px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
    padding: 20px;
  }

  .checkbox-label {
    padding-top: 10px;
    width: 100%;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
    font-size: 16px;
  }

  .form-row button {
    width: 60%;
    padding: 20px 40px;
    margin: 10px auto;
    border: 1px solid #333;
    border-radius: 8px;

    background-color: lightpink;

    font-size: 16px;
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
  }

  .contact-image {
    display: flex;
    margin-bottom: 20px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    max-width: 500px;
    min-width: 460px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-image > img {
    border: 1px solid #333;
  }
}

/*---------------Contact Desktop View---------------*/

@media screen and (min-width: 769px) {
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100vw;
    margin: 0 auto;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    margin: 50px auto;
    width: 70%;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-row input[type="text"],
  .form-row input[type="email"] {
    padding: 20px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
  }

  ::placeholder {
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
  }

  textarea {
    resize: none;
    min-height: 100px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
    padding: 20px;
  }

  .checkbox-label {
    padding-top: 10px;
    width: 100%;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
    font-size: 16px;
  }

  .form-row button {
    width: 60%;
    padding: 20px 40px;
    margin: 10px auto;
    border: 1px solid #333;
    border-radius: 8px;

    background-color: lightpink;

    font-size: 16px;
    font-size: 16px;
    font-family: "authentic-sans-60", "helvetica", sans-serif;
  }

  .contact-image {
    display: flex;
    width: 50vw;
    height: 100vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-image > img {
    border-right: 1px solid #333;
  }
}

/*---------------Article Mobile View---------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .article-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    padding-top: 60px;
  }

  .article-title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
  }

  .article-date {
    text-align: center;
    font-size: 14px;
    font-family: "authentic-sans-60", sans-serif;
  }

  .article-image {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
  }

  .article-text p {
    text-align: center;
    font-size: 24px;
  }

  .article-share {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-share h2 {
    font-size: 16px;
    font-family: "authentic-sans-90", sans-serif;
    padding: 0;
  }

  .share-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .icon img {
    border: none;
    width: 24px;
    height: 24px;
    margin: 20px;
  }
}

/*---------------Article Tablet View---------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .article-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    padding-top: 60px;
  }

  .article-title {
    text-align: center;
    font-size: 28px;
    padding-bottom: 10px;
  }

  .article-date {
    text-align: center;
    font-size: 16px;
    font-family: "authentic-sans-60", sans-serif;
  }

  .article-image {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .article-text p {
    text-align: center;
    font-size: 24px;
  }

  .article-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
  }

  .article-share h2 {
    font-size: 18px;
    font-family: "authentic-sans-90", sans-serif;
    text-align: center;
    padding: 10px;
  }

  .share-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .icon-img {
    border: none;
    width: 100%;
    height: 100%;
  }
}

/*---------------Article Desktop View---------------*/

@media screen and (min-width: 769px) {
  .article-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 40px auto;
    padding-top: 50px;
  }

  .article-title {
    text-align: center;
    font-size: 28px;
    padding-bottom: 10px;
  }

  .article-date {
    text-align: center;
    font-size: 16px;
    font-family: "authentic-sans-60", sans-serif;
  }

  .article-image {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .article-text p {
    text-align: center;
    font-size: 24px;
  }

  .article-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
  }

  .article-share h2 {
    font-size: 18px;
    font-family: "authentic-sans-90", sans-serif;
    text-align: center;
    padding: 10px;
  }

  .share-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .icon-img {
    border: none;
    width: 100%;
    height: 100%;
  }
}

/*--------------- Mobile Article List---------------*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .post-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .post {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(223, 244, 181);
  }

  .post p {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  .post-container > a {
    text-decoration: none;
  }

  .post:hover {
    background-image: url(https://foxlexington.com/resources/media/5c94e18f-ab95-499a-8891-e46517dbe7e1-large1x1_poster_94dc81742c904476a258e31de588a424.jpg?1577677322055);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .one {
    background-color: thistle;
  }

  .one:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/6000/6470/deathvalley_l7_2000193.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .two {
    background-color: rosybrown;
  }

  .two:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/145000/145216/botswanasaltpan_oli_201809.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .three {
    background-color: lightskyblue;
  }

  .three:hover {
    background-image: url(https://cdn.shortpixel.ai/spai/w_1259+q_lossy+ret_img+to_webp/https://sofiaadventures.com/wp-content/uploads/2020/02/shutterstock_1429356797.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .four {
    background-color: lightgoldenrodyellow;
  }

  .four:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/49000/49864/tassilinajjer_etm_2000.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .five {
    background-color: lightseagreen;
  }

  .five:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/146000/146697/bahamas_etm_2001017.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }
}

/*--------------- Tablet Article List---------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .post-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .post {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(223, 244, 181);
  }

  .post p {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  .post-container > a {
    text-decoration: none;
    min-width: 0;
  }

  .post:hover {
    background-image: url(https://foxlexington.com/resources/media/5c94e18f-ab95-499a-8891-e46517dbe7e1-large1x1_poster_94dc81742c904476a258e31de588a424.jpg?1577677322055);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .one {
    background-color: thistle;
  }

  .one:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/6000/6470/deathvalley_l7_2000193.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .two {
    background-color: rosybrown;
  }

  .two:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/145000/145216/botswanasaltpan_oli_201809.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .three {
    background-color: lightskyblue;
  }

  .three:hover {
    background-image: url(https://cdn.shortpixel.ai/spai/w_1259+q_lossy+ret_img+to_webp/https://sofiaadventures.com/wp-content/uploads/2020/02/shutterstock_1429356797.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .four {
    background-color: lightgoldenrodyellow;
  }

  .four:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/49000/49864/tassilinajjer_etm_2000.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .five {
    background-color: lightseagreen;
  }

  .five:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/146000/146697/bahamas_etm_2001017.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }
}

/*--------------- Tablet Article List---------------*/

@media (min-width: 769px) {
  .post-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .post {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(223, 244, 181);
  }

  .post p {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  .post-container > a {
    text-decoration: none;
    min-width: 0;
  }

  .post:hover {
    background-image: url(https://foxlexington.com/resources/media/5c94e18f-ab95-499a-8891-e46517dbe7e1-large1x1_poster_94dc81742c904476a258e31de588a424.jpg?1577677322055);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .one {
    background-color: thistle;
  }

  .one:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/6000/6470/deathvalley_l7_2000193.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .two {
    background-color: rosybrown;
  }

  .two:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/145000/145216/botswanasaltpan_oli_201809.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .three {
    background-color: lightskyblue;
  }

  .three:hover {
    background-image: url(https://cdn.shortpixel.ai/spai/w_1259+q_lossy+ret_img+to_webp/https://sofiaadventures.com/wp-content/uploads/2020/02/shutterstock_1429356797.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .four {
    background-color: lightgoldenrodyellow;
  }

  .four:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/49000/49864/tassilinajjer_etm_2000.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  .five {
    background-color: lightseagreen;
  }

  .five:hover {
    background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/146000/146697/bahamas_etm_2001017.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
  }
}

/*---------------Navigation---------------*/

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header {
  background-color: #f9f9f9;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid #333;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f9f9f9;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f9f9f9;
}

.header .logo-type {
  display: block;
  float: left;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-heigh 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*---------------Desktop Navigation---------------*/

@media (min-width: 769px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
